html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    width : 100vw;
    height : 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.canvas-wrapper {
    width : 100vw;
    height : 100vh;
    margin: 0;
    padding: 0;
}

.cursor {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.button {
    border: solid 2px white;
    height: 15vmin;
    width: 15vmin;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 10vmin;
    bottom: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet {
    height: 50%;
    width: 50%;
}

.score-wrapper {
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
}

.screen {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.screen.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.screen-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.screen-loading {
    color: white;
    font-weight: bold;
    display: none;
}
.screen-loading.active {
    display: inline-block;
}
